.modal_active {
  display: none;
  position: fixed;
  width: 80%;
  height: 60%;
  top: 45%;
  left: 50%;
  border-radius: 10px;
  background-color: var(--dark-white);
  box-shadow: 0px 8px 8px var(--light-black);
  cursor: default;
  padding: 40px 20px;
  transform: translate(-50%, -42%);
  text-align: center;
  z-index: 2;
}

.modal_shutdown {
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-bottom: 20px;
}

.shutdown_today,
.shutdown_tomorrow {
  justify-content: center;
  width: 50%;
}

.shutdown_today div,
.shutdown_tomorrow div {
  display: flex;
  text-align: center;
  justify-content: center;
  min-width: 90%;
  min-height: 23%;
  padding: 20px 5px 20px 5px;
  margin: 0 auto;
}

.schedule {
  max-width: 700px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}

.published {
  font-size: 14px;
  align-items: end;
}

.information {
  font-size: 16px;
  font-weight: 300;
  align-items: center;
}

.modal_close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal_close img {
  margin: 3px;
  width: 24px;
  height: 24px;
}

.overlay {
  display: none;
  position: fixed;
  opacity: 0.2;
  background-color: var(--light-carrot);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.inform_modal {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  min-height: 60px;
  width: 90%;
}
