/* @import 'colors.css'; */

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to right,
    var(--light-carrot),
    var(--dark-white),
    var(--dark-carrot)
  );
  max-width: 1900px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 20px 80px 20px 80px;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  max-width: 800px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: var(--black);
  text-align: center;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

h2 {
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  text-align: center;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header p {
  max-width: 700px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.shotdovn p {
  max-width: 700px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: var(--black);
  text-align: left;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 5px;
}

.current_data p {
  max-width: 700px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: var(--dark-grey);
  text-align: center;
  margin-top: 5px;
}

.queue,
.disabled_consumers {
  width: 50%;
  min-height: 200px;
  background-color: var(--gray);
  box-shadow: 0px 4px 4px var(--light-black);
  margin: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.shotdovn {
  display: flex;
  justify-content: stretch;
}

.container_tabs {
  display: flex;
}

.tabs {
  min-width: 100px;
  padding-right: 50px;
}

.container_section {
  min-width: 50%;
}

.tabs ul {
  margin-top: 40px;
  list-style: none;
  padding-left: 0px;
}

.tabs li {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: var(--black);
}

.tabs_point {
  display: block;
  height: 20px;
  padding-top: 12px;
  padding-left: 5px;
  border-bottom: solid 1px var(--light-carrot);
  cursor: pointer;
}

.container_section {
  display: flex;
}

.household,
.juristic {
  padding-left: 20px;
  padding-right: 20px;
}

.all_consumers {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 215px;
  margin-left: auto;
  margin-right: auto;
}

.what_a_queue {
  display: block;
  height: 30px;
  min-width: 90%;
  border: solid 1px var(--light-carrot);
  background-color: var(--dark-carrot);
  border-radius: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.text_button {
  max-width: 700px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.household {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.juristic {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}

.household input,
.juristic input,
.all_consumers .address_city {
  padding-left: 5px;
  font-style: italic;
  height: 25px;
  border: solid 1px var(--dark-grey);
  border-radius: 5px;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.address_street_house {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.all_consumers .address_street {
  padding-left: 5px;
  font-style: italic;
  height: 25px;
  border: solid 1px var(--dark-grey);
  border-radius: 5px;
  margin-top: 5px;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.all_consumers .address_house {
  padding-left: 5px;
  font-style: italic;
  height: 25px;
  border: solid 1px var(--dark-grey);
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  display: block;
  box-sizing: border-box;
  width: 50px;
}

input:focus {
  outline: 2px solid var(--dark-carrot);
}

.tabs .active {
  background-color: var(--wheat);
}

.container_forms_consumers {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
select {
  width: 100%;
  padding-left: 5px;
  font-style: italic;
  height: 25px;
  border: solid 1px var(--dark-grey);
  border-radius: 5px;
  display: block;
  box-sizing: border-box;
  max-width: 700px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: var(--dark-grey);
}

select:focus {
  outline: 3px solid var(--dark-carrot);
}

.locality {
  margin-left: 10px;
  margin-right: 10px;
}

.inform {
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  background-color: var(--dark-carrot);
  box-shadow: 0px 4px 4px var(--light-black);
  margin: 40px 20px 20px 20px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* .household {
  display: display;
}

.juristic {
  display: none;
}

.all_consumers {
  display: none;
} */
